.white-text {
  color: aliceblue;
}
.hero {
  color: aliceblue;
  width: 90%;
  height: 200px;
  margin: auto;
}
.propic {
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 60px;
}
.container {
  box-sizing: border-box;
  padding: 50px 0 5px 0;
  width: 750px;
  float: right;
  justify-content: center;
  color: aliceblue;
  text-align: left;
  font-size: 1.125rem;
}
.name-highlight {
  color: #6fecdc;
}
