body {
  background-color: #282c35;
}
.headnav {
  background-color: #282c35;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #6fecdc;
  width: 75%;
  height: 100px;
  margin: 25px auto 0;
  /* display: inline-block; */
}
.right-headnav {
  /* display: inline-block; */
  padding-top: 8px;
  font-weight: 400;
  padding-right: 30px;
  float: right;
}
.left-headnav {
  /* display: inline-block; */
  float: left;
  height: 50px;
}
.left-headnav p {
  font-size: 22px;
  font-weight: bold;
}
.right-headnav a {
  font-size: 15px;
}
a:hover {
  padding-bottom: 3px;
  border-bottom: solid 1.5px #6fecdc;
}

.nav-items {
  text-transform: uppercase;
  color: #6fecdc;
  text-decoration: none;
  margin: 10px 15px 10px 15px;
  float: left;
}
.white-text {
  color: aliceblue;
}
.hero {
  color: aliceblue;
  width: 90%;
  height: 200px;
  margin: auto;
  /* margin-top: 100px; */
  /* display: inline-block; */
}
.propic {
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 60px;
}
.WIDContainer {
  /* height: 100vh; */
  padding: 10px;
  width: 95%;
  padding-bottom: 100px;
}
.WIDtext1 {
  box-sizing: border-box;
  display: inline;
  padding: 50px 0 5px 0;
  width: 740px;
  float: left;
  justify-content: center;
  color: aliceblue;
  text-align: left;
  font-size: 1.125rem;
}
.WIDpic1 {
  float: right;
  width: 400px;
  height: 250px;
  margin-left: 60px;
}

.container {
  /* display: inline-block; */
  box-sizing: border-box;
  padding: 50px 0 5px 0;
  width: 750px;
  float: right;
  justify-content: center;
  color: aliceblue;
  text-align: left;
  font-size: 1.125rem;
}
.name-highlight {
  color: #6fecdc;
}
